datasets==2.2.2
gensim==3.8.3
h5py==3.1.0
kaggle==1.5.9
matplotlib==3.2.2
matplotlib-inline==0.1.6
networkx==2.5
nltk==3.7
notebook==6.0.3
numpy==1.21.6
openpyxl==3.0.7
pandas==1.4.2
pandocfilters==1.4.2
Pillow==7.2.0
platformdirs==2.5.2
pluggy==1.0.0
pooch==1.3.0
progressbar==2.5
prometheus-client==0.8.0
prompt-toolkit==3.0.31
proto-plus==1.20.5
protobuf==3.20.1
psutil==6.0.0
psycopg2==2.9.3
ptyprocess==0.6.0
pure-eval==0.2.2
py==1.10.0
pyarrow==8.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-dateutil==2.8.1
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.7.1
python-slugify==4.0.1
pytiled-parser==0.9.4a3
pytoolconfig==1.2.5
rpy2==3.5.5
rsa==4.8
s3transfer==0.3.3
scikit-image==0.17.2
scikit-learn==1.0.2
scipy==1.5.2
seaborn==0.12.0
selenium==3.141.0
Send2Trash==1.5.0
sentencepiece==0.1.96
shims==0.0.1
six==1.15.0
sklearn==0.0.post9
sktime==0.11.2
slugify==0.0.1
smart-open==2.1.0
snowballstemmer==2.2.0
SoundFile==0.10.3.post1
SQLAlchemy==1.4.41
sqlparse==0.3.1
stack-data==0.5.0
statsmodels==0.13.2
sympy==1.8
tensorboardX==2.5
terminado==0.8.3
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
tifffile==2020.10.1
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.6
toolz==0.12.0
torch==1.5.1
torch_geometric==2.5.3
torchinfo==1.8.0
torchvision==0.6.1
tornado==6.0.4
tqdm==4.49.0
traitlets==5.4.0
tweepy==3.9.0
twython==3.9.1
typing_extensions==4.2.0
tzdata==2022.2
tzlocal==4.2
ucimlrepo==0.0.7
ujson==5.5.0
urllib3==1.25.9
v==1
virtualenv==20.16.5
visdom==0.2.4
watchdog==2.1.7
wcwidth==0.2.5
webdriver-manager==3.5.4
webencodings==0.5.1
websocket-client==1.5.2
wget==3.2
whatthepatch==1.0.4
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==2.0.1
xlwt==1.3.0
xxhash==3.0.0
yacs==0.1.8
yapf==0.32.0
yarl==1.7.2
zaman==0.0.2
